@charset "UTF-8";

*
{
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #333;
    letter-spacing: 1px;
}

html   { font-size: 62.5%;  }
html * { font-size: 1.4rem; }

body
{
    width: 690px;
    margin: 25px auto;
}

a,
.savedVoice
{
    color: #17d;
    text-decoration: none;
}

a:hover,
.savedVoice:hover
{ text-decoration: underline; }

.savedVoice { cursor: pointer; }

h1,
footer
{ text-align: center; }

h1
{
    font-size: 2.2rem;
    letter-spacing: 2px;
}

h2, h3
{
    margin-top: 30px;
}

h2
{
    font-size: 1.8rem;
    margin-bottom: 6px;
}

h3
{
    font-size: 1.6rem;
}

ul
{
    margin-top: 0px;
    margin-bottom: 30px;
}

p, li { line-height: 1.6; }

canvas
{
    border: 1px solid #333;
    margin-bottom: 20px;
    background-color: #fff;
}

p
{
    letter-spacing: 2px;
    margin: 0px;
    margin-bottom: 12px;
}

form p { margin-left: 20px; }

input[type="text"],
select
{ padding: 2px; }

div#visualization { text-align: center; }
span#status       { font-weight: bold;  }

#desc
{
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
}

div#rodoku-text
{
    background-color: #fff;
}

div#rodoku-text div#text
{
    padding: 20px;
    border: 2px solid #aaa;
    border-bottom: 0px;
}

div#rodoku-text div#pager
{
    display: table;
    border: 1px solid #aaa;
    border: 2px solid #aaa;
}

div#rodoku-text div#pager button
{
    width: 100%;
    padding: 5px 6px;
}

div#rodoku-text div#pager button img
{
    margin-top: -3px;
    vertical-align: middle;
}

div#rodoku-text div#last,
div#rodoku-text div#next,
div#rodoku-text div#no,
div#rodoku-text div#prev,
div#rodoku-text div#first
{
    display: table-cell;
    text-align: center;
}

div#rodoku-text div#last,
div#rodoku-text div#next,
div#rodoku-text div#prev,
div#rodoku-text div#first
{
    width: 133px; /* ( (body の width) - (div#no の width) ) / 4 */
}

div#rodoku-text div#no
{
    width: 160px;
}

div#rodoku-text div#next img { padding-right: 2px; }
div#rodoku-text div#prev img { padding-left:  2px; }

#voice_list
{
    display: none;
    height: 150px;
    overflow: scroll;
}

#voice_list li
{
    line-height: 1.8;
    padding-bottom: 10px;
}

#voice_list li input
{
    width: 100%;
}

div#rodoku_submit
{
    text-align: center;
    display: none;
}

div#rodoku_submit div#profile
{
    text-align: left;
    padding-bottom: 10px;
}
