@charset "UTF-8";

*
{
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #333;
    letter-spacing: 1px;
}

html   { font-size: 62.5%;  }
html * { font-size: 1.4rem; }

body
{
    width: 690px;
    margin: 25px auto;
}

a
{
    color: #17d;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

h1,
footer
{ text-align: center; }

h1
{
    font-size: 2.2rem;
    letter-spacing: 2px;
}

h2, h3
{
    margin-top: 30px;
}

h2
{
    font-size: 1.8rem;
    margin-bottom: 6px;
}

h3
{
    font-size: 1.6rem;
}

ul
{
    margin-top: 0px;
    margin-bottom: 30px;
}

p, li { line-height: 1.6; }

canvas
{
    border: 1px solid #333;
    margin-bottom: 20px;
}

ul.error    { margin-bottom: 15px; }
ul.error li { color: #f33;         }

p
{
    letter-spacing: 2px;
    margin: 0px;
    margin-bottom: 12px;
}

form p { margin-left: 20px; }

input[type="text"],
select
{ padding: 2px; }

div#visualization { text-align: center; }
span#status       { font-weight: bold;  }

div#rodoku_submit
{
    text-align: center;
    display: none;
}
